@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0; }

/* BARRA DE NAVEGACION */
.header {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  height: 100px;
  border: solid black 1px;
  position: sticky;
  top: 0%; }
  .header__H1 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Explora', cursive;
    position: relative;
    animation-duration: 3s;
    animation-name: aparicion;
    color: black; }

.barra {
  text-align: center;
  margin: 1%; }
  .barra__superior {
    display: inline-block; }
    .barra__superior__menu {
      text-decoration: none;
      color: red;
      font-size: 20px;
      padding: 15px; }

ul {
  list-style: none; }

/* ANIMACIONES */
@keyframes aparicion {
  0% {
    font-size: 5px;
    opacity: 0;
    left: -200px; }
  100% {
    font-size: 35px;
    opacity: 1;
    left: 0px; } }

/* MEDIA QUERY */
@media only screen and (max-width: 425px) {
  .barra__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    margin-top: -4%; } }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373; }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5; }
  .site-footer hr.small {
    margin: 20px 0; }
  .site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px; }
  .site-footer a {
    color: #737373; }
    .site-footer a:hover {
      color: #3366cc;
      text-decoration: none; }
  .site-footer .social-icons {
    text-align: right; }
    .site-footer .social-icons a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: #33353d; }

.footer-links {
  padding-left: 0;
  list-style: none; }
  .footer-links li {
    display: block; }
  .footer-links a {
    text-decoration: none;
    color: #737373; }
    .footer-links a:active {
      color: #3366cc;
      text-decoration: none; }
    .footer-links a:focus {
      color: #3366cc;
      text-decoration: none; }
    .footer-links a:hover {
      color: #3366cc;
      text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.copyright-text {
  margin: 0; }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .social-icons li {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 4px; }
  .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px; }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .social-icons a:active {
      color: #fff;
      background-color: #29aafe; }
    .social-icons a:focus {
      color: #fff;
      background-color: #29aafe; }
    .social-icons a:hover {
      color: #fff;
      background-color: #29aafe; }
  .social-icons a.facebook:hover {
    background-color: #3b5998; }
  .social-icons a.twitter:hover {
    background-color: #00aced; }
  .social-icons a.instagram:hover {
    background-color: #2C6A93; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
    .site-footer .copyright-text {
      text-align: center; }
    .site-footer .social-icons {
      text-align: center; }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

@media only screen and (max-width: 425px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: auto; }
  h6 {
    text-align: center; }
  .site-footer {
    padding: 20px 0 0 0; } }

/* INDEX PAGINA */
/*INFORMACION*/
section {
  text-align: center;
  border: solid black 1px; }

.carousel-control-prev,
.carousel-control-next {
  height: calc(100vh - 100px); }

.carouselHeight {
  height: calc(100vh - 100px);
  object-fit: cover; }

.informacion__titulo {
  color: chocolate;
  margin: 20px;
  font-size: 25px; }

.informacion__texto--fuente {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px; }

.informacion__texto--margen {
  margin-top: 2%; }

.informacion__boton {
  background-color: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 1%;
  border: red; }
  .informacion__boton__link {
    text-decoration: none;
    text-transform: uppercase;
    color: white; }

.informacion__boton:hover {
  background-color: gray; }

/* PEDIDOS A CAMBIAR POR BEM */
.sectionPedido {
  color: chocolate;
  margin: 20px;
  font-size: 30px; }

h4 {
  font-style: italic; }

.sectionMenu {
  margin: 20px;
  font-family: 'Libre Baskerville', serif;
  font-size: 40px;
  font-weight: bold; }

.cartaDeComida {
  border: solid black 1px;
  margin: 10px 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px; }

.barraMenu {
  grid-area: 1 / 1 / 2 / 7; }

.gridComida {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 0%; }

.barraComida {
  display: inline-block;
  padding: 3%;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase; }

.comida {
  grid-area: 2 / 1 / 5 / 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  font-size: 10px; }

.producto1 {
  grid-area: 1 / 1 / 2 / 2; }

.producto2 {
  grid-area: 1 / 2 / 2 / 3; }

.producto3 {
  grid-area: 1 / 3 / 2 / 4; }

.producto4 {
  grid-area: 1 / 4 / 2 / 5; }

.producto5 {
  grid-area: 2 / 1 / 3 / 2; }

.producto6 {
  grid-area: 2 / 2 / 3 / 3; }

.producto7 {
  grid-area: 2 / 3 / 3 / 4; }

.producto8 {
  grid-area: 2 / 4 / 3 / 5; }

.producto9 {
  grid-area: 3 / 1 / 4 / 2; }

.producto10 {
  grid-area: 3 / 2 / 4 / 3; }

.producto11 {
  grid-area: 3 / 3 / 4 / 4; }

.producto12 {
  grid-area: 3 / 4 / 4 / 5; }

.pedir {
  grid-area: 5 / 3 / 6 / 5;
  border: none; }

/* OPINIONES */
.opiniones__titulo {
  color: chocolate;
  margin: 20px;
  font-size: 30px; }

.opiniones__comentarios {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  margin: 0 auto 30px; }

.opiniones__slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-style: italic; }

.opiniones__slide__texto1 {
  grid-area: 1 / 1 / 2 / 2; }

.opiniones__slide__texto2 {
  grid-area: 1 / 2 / 2 / 3; }

.opiniones__slide__texto3 {
  grid-area: 1 / 3 / 2 / 4; }

/* MEDIA QUERY */
@media only screen and (min-width: 1024px) {
  .cartaDeComida {
    width: 60%;
    margin: 0 auto 50px; }
  .barraComida {
    font-size: 20px;
    text-transform: none;
    font-weight: 600;
    padding: 3%; }
  .gridComida {
    display: inline-block;
    width: 100%; }
  .comida {
    font-size: 15px; } }

@media only screen and (max-width: 425px) {
  .opiniones__slide {
    display: inline-block; }
  .carouselHeight {
    height: 300px; }
  .carousel-control-prev,
  .carousel-control-next {
    height: 300px; } }

/* INDEX FIN */
/*NOSOTROS PAGINA*/
.Nosotros {
  text-align: center;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  grid-template-areas: "img h3" "img h2" "img p1" "img p2" "img p3"; }

.nosotrosH3 {
  font-style: italic;
  color: red;
  font-size: 20px;
  grid-area: h3; }

.nosotrosH2 {
  margin-top: 2px;
  font-weight: 600;
  font-size: 45px;
  font-family: monospace;
  grid-area: h2; }

.nosotrosIMG {
  grid-area: img; }

.nosotrosP {
  margin-top: 5px;
  font-size: 15x;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2%; }

.p1 {
  grid-area: p1; }

.p2 {
  grid-area: p2; }

.p3 {
  grid-area: p3; }

/*FIN NOSOTROS*/
@media only screen and (max-width: 1024px) {
  .Nosotros {
    display: flex;
    flex-direction: column;
    margin: auto; } }

/* RESERVAS PAGINA */
.reservasH2 {
  margin-top: 20px; }

/*FIN RESERVAS*/
/*CONTACTO PAGINA*/
.formContacto {
  margin-top: 2%;
  margin-bottom: 2%;
  border: none; }

.titulo {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px; }

.botonContacto {
  margin: auto;
  margin-top: 2%; }

/*FIN CONTACTO*/
