/*CONTACTO PAGINA*/

.formContacto {
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
}

.titulo {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.botonContacto {
    margin: auto;
    margin-top: 2%;
}

@media only screen and (max-width:425px) {
    .formContacto {
        margin-top: 0%;
    }
}
/*FIN CONTACTO*/