/*CONTACTO PAGINA*/

.formContacto {
    margin-top: 1%;
    border: none;
}

.titulo {
    color: chocolate;
    font-size: 27px;
    padding: 10px;
}

.botonContacto {
    margin: auto;
    margin-top: 2%;
}

.form-group {
    margin: 20px;
}

@media only screen and (max-width:425px) {
    .formContacto {
        margin-top: 0%;
    }
}
/*FIN CONTACTO*/