/* RESERVAS PAGINA */

.reservasIMG {
    margin-top: 1%;
}

.botonReserva {
    font-family: sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 2%;
}

@media only screen and (max-width:425px) {
    .reservasIMG {
        margin-top: 0%;
    }
}

/*FIN RESERVAS*/

